## Bengaluru House Prediction

The goal of this project is to be able to predict the price of a house
given a series of feature

source: https://www.kaggle.com/datasets/amitabhajoy/bengaluru-house-price-data

## libraries

In [12]:
import pandas as pd
import numpy as np

import matplotlib
from matplotlib import pyplot as plt

import seaborn as sns

In [4]:
df_house_data = pd.read_csv('./data/Bengaluru_House_Data.csv')

In [5]:
df_house_data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

## Numeric columns
- total_sqft: total square feet. It's the size of the house
- bath: number of baths
- balcony: number of balconies
- price: price of the house

In [11]:
numerical_columns = ['total_sqft', 'bath', 'balcony', 'price']
df_house_data_numerical_columns = df_house_data[numerical_columns]
df_house_data_numerical_columns.head(3)

  total_sqft  bath  balcony   price
0       1056   2.0      1.0   39.07
1       2600   5.0      3.0  120.00
2       1440   2.0      3.0   62.00

In [17]:
# We can see that "total_sqft" is a string column. We have to convert it to numberical
df_house_data_numerical_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   bath        13247 non-null  float64
 2   balcony     12711 non-null  float64
 3   price       13320 non-null  float64
dtypes: float64(3), object(1)
memory usage: 416.4+ KB

In [21]:
df_house_data_numerical_columns.groupby("total_sqft")['total_sqft'].count()

total_sqft
1                1
1.25Acres        1
1.26Acres        1
1000           172
1000 - 1285      1
              ...
995             10
996              4
997              2
998              1
999              3
Name: total_sqft, Length: 2117, dtype: int64

In [ ]:
# Before parsing 'total_sqft'

In [24]:
# We can transform the column to numbers and fill with None the errors of parsing
pd.to_numeric(df_house_data_numerical_columns['total_sqft'], errors='coerce').count()

13073

In [15]:
sns.heatmap(df_house_data_numerical_columns.to_numpy())

ValueError: could not convert string to float: '2100 - 2850'

## Categorical columns
- availability: if the house is available
- area_type: ? 
- location: where is the house
- size: size of the house in number of bethrooms
- society: ?